header,footer {
display: flex;
background-color:brown;
padding: 30px;
justify-content: space-between;
border: 1px solid black;  
border-radius: 15px;

}
footer p{
    margin-top: 0;
}

a{
    text-decoration: none;
    color: black;
    padding-right: 1rem;
    font-size: 1.3rem;
    text-transform: uppercase;
}
.anasayfa{
background-color: green ;
}

.personeller{
    background-color: blue;
}

.hakkimizda {
    background-color: yellow;
}
.oneriler {
    background-color: red;
}
.anasayfa img, .oneriler img{
    width: 50%;
    height: 50%;
}

.resimler img{
    width: 200px;
    height: 200px;
}
.resimler {
    display: flex;
    flex-direction: column;

}
.hakkimizda ul li{
    margin-bottom: 10px ;
    background-color: bisque;
    padding: 2rem;
    border: 1px solid black;
    border-radius: 10px;

}
.icerik {
    display: flex;
    justify-content: space-between;
   

}
.icerik form {
    background-color:yellow ;
    height: 200px;
}
h1 {
    color: brown ;
    text-align: center;
}

